html, body {
  /* background-color: #0D0D12; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #0D0D12;
}

#background-image {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#frame {
    width: 80vw;
    height: 70vh;
    background-image: url('../images/destinations/frame.jpg');
    background-size: cover;
    background-position: center;
}

#main-title {
  color: white;
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 0.5em;
  z-index: 1;
}