html, body {
  /* background-color: #0D0D12; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #0D0D12;
  color: white
}

#background-image {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#frame {
    width: 80vw;
    height: 70vh;
    background-image: url('../images/destinations/frame.jpg');
    background-size: cover;
    background-position: center;
}

#content {
    width: 100vw;
    height: 90vh;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1; 
}
