
html, body {
  /* background-color: #0D0D12; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #0D0D12;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}

/* ============== ON TOUCHE PLUS ============== */
#background-image {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#frame {
    width: 80vw;
    height: 70vh;
    background-image: url('../images/destinations/frame.jpg');
    background-size: cover;
    background-position: center;
}

/* ============== LE CONTENU ============== */
#content {

    margin: 5vh 9vw;
    width: 82vw;
    height: 90vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1; 

}
  #title {
    margin: 0;
    padding: 0;
    border: solid 2px white;
  }
.contenttoread {
    backdrop-filter: blur(5px) grayscale(70%);
    background-color: rgba(51, 51, 51, 0.5);
    padding:10px -10px;
    border: solid 2px white;
    border-radius: 50px;
}



