
html, body {
  /* background-color: #0D0D12; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #0D0D12;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-weight: ; */
  font-style: normal;
}

/* ============== ON TOUCHE PLUS ============== */
#background-image {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#frame {
    width: 80vw;
    height: 70vh;
    background-image: url('../images/destinations/frame.jpg');
    background-size: cover;
    background-position: center;
}

/* ============== LE CONTENU ============== */
#content {

    margin: 5vh 9vw;
    width: 82vw;
    height: 90vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1; 

}
  .title > *{
    margin: 0;
    padding: 0;
  }
.content-box {
    background-color: rgba(51, 51, 51, 0.5);
    border: solid 2px #252535;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #232330, #0D0D12 95%);
    position: relative;
    color: #a8a8f0;
}

#button_toprogram {

    height: 48px;
    
    a {
      text-decoration: none;
      color: #eacea7;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: large;
      font-family: "Playfair Display", serif;
    }
  }

.shadow-box {
  box-shadow:#5c5c92 0px 0px 8px 2px;
}
.shadow-box_button {
  box-shadow:#eacea7 0px 0px 8px 2px;
}
#main-subtitle {
  margin: 3rem 5rem -3rem ;
  padding: 1.3rem 1rem;
  border-radius: 100px;
}

 #explosionCanvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none; /* ne bloque pas les clics */
        z-index: 9999; /* au-dessus de tout */
    }