html, body {
  /* background-color: #0D0D12; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #0D0D12;
}

#workspace {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frame {
    width: 80vw;
    height: 70vh;
    background-image: url('../images/destinations/frame.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}



